* {

	background: var(--bg);
	color: var(--fg);

	font-family: 'IBM Plex Sans', sans-serif;

}

.fab {
	color: var(--bold-fg);
	font-size: 2.0rem;
	margin-right: 1rem;
}

.inline-about {
	display: flex;

}


#body-container {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

}

#about-me {

	font-size: 2.5rem;

	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50rem;
	height: 15rem;


}

#separator {

	background: var(--accent-tertiary);
	width: 0.25rem;
	height: 90%;
	margin-left: 1rem;
	margin-right: 1rem;

}

.about-panel {

	display: flex;
	flex-direction: column;

	width: 100%;

	justify-content: space-evenly;

}

#about-left {
	align-items: flex-end;

}

#about-right {
	align-items: flex-start;

}